<div (click)="onClose()" class="ui dimmer visible active">
    <div (click) = "$event.stopPropagation()" class="ui modal visible active">
        <i (click) = "onClose()" class="close icon"></i>
        <div class="header">
           <ng-content select=[modalHeader]></ng-content>
        </div>
        <div class="content">
           <ng-content select = [modalContent]></ng-content>
        </div>
        <div>
            <ng-content select = [modalFooter]></ng-content>
        </div>
        
        <div class="actions">
            <button (click) = "onClose()" class="ui button"> OK</button>

        </div>
    </div>

</div>>